.loginContainer {
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 200px;
    margin: auto;
    margin-top: 25vh;
    padding: 20px;
}

.loginButton {
    margin-bottom: 20px;
}

.loginInput {
    padding: 10px;
}

#rememberCheckBoxLabel {
    font-weight: 100;
}